# Initial Admin Credentials configuration
INITIAL_ADMIN_USERNAME=AnkitAvi11
INITIAL_ADMIN_PASSWORD=Avengers11@383

# Note: Changing these after database initialization requires using the "Change Password" feature in the Admin Dashboard.
